name: CI
on:
  workflow_dispatch: {}
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
  packages: write
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: frantjc/actions/setup-tool@v1
        with:
          repository: dagger/dagger
          version: v0.19.8
      - run: |
          cat <<EOF > .env
          bargeDev_testsPass_githubToken=env://GITHUB_TOKEN
          bargeDev_testsPass_githubRepo=${{ github.repository }}
          EOF
      - env:
          GITHUB_TOKEN: ${{ github.token }}
        run: dagger check
